.feature-products-content{
    .feature-title-section{
        margin: 50px;
        text-align: center;
    }
    .products-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center; 
        .product-card{
            box-shadow: 2px 2px 5px #00000050;
            border-radius: 8px;
            width: 300px;
            height: 400px;
            margin-bottom: 40px;
            position: relative;
            cursor: pointer;
            .add-to-bag{
                position: absolute;
                top: 4px;
                right: 6px;
                z-index: 10;
                cursor: pointer;
                figure{
                    width: 36px;
                    height: 36px;
                }
            }
            .product-img{
                height: 300px;
               
                figure{
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                }
            }
            .product-description{
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 100px;
                .pro-description{
                    font-size: 20px;
                }
                .pro-price{
                    font-size: 18px;
                    color: #8f8f8f;
                }
            } 
        }
    }    
}