
.contact-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    .left-content{
        display: flex;
        gap: 24px;
    }
    .right-content{
        display: flex;
        align-items: center;
        gap: 20px;
        .social-media-content{
            display: flex;
            gap: 12px;
        }
    }
    figure{
        width: 30px;
        height: 30px;
    }
}
